In [72]:
import pandas as pd
import numpy as np
import openpyxl

In [73]:
# Creamos la variable con el nombre del archivo

nombre_archivo = 'comprobantes.XLS'

In [74]:
# Leemos el archivo con pandas y lo guardamos en una variable llamada df que creamos, y la imprimimos para tener una primer vista
# 
df = pd.read_excel(nombre_archivo, na_values= 'NN')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,LANGONE FABIAN,Informe Comprobantes,CASA CENTRAL,Fecha del 01/01/2023 al 31/05/2023\r\nClientes...,ROSARIO,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Comprobante: Liquidación,B 0003- 00176324,Fecha Comprobante: 01/01/2023,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
4,6262,1,Coca Cola Lata 310 cc,NaN,180,21,180,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
65530,9541074,1,coca cola zero 1L,NaN,500,21,500,NaN,NaN,NaN
65531,7895022,1,Leche descremada Tregar,NaN,440,21,440,NaN,NaN,NaN
65532,NaN,NaN,NaN,NaN,Total:,1150,NaN,NaN,NaN,NaN
65533,Comprobante: Liquidación,B 0003- 00194214,Fecha Comprobante: 14/05/2023,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
65534,3647,1,lucky clic cool 12,NaN,400,21,400,NaN,NaN,NaN

In [75]:
# Con la funcion info hacemos un primer analisis del DF
 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  47673 non-null  object
 1   Unnamed: 1  47673 non-null  object
 2   Unnamed: 2  47673 non-null  object
 3   Unnamed: 3  17949 non-null  object
 4   Unnamed: 4  65494 non-null  object
 5   Unnamed: 5  65532 non-null  object
 6   Unnamed: 6  47609 non-null  object
 7   Unnamed: 7  17924 non-null  object
 8   Unnamed: 8  17885 non-null  object
 9   Unnamed: 9  17885 non-null  object
dtypes: object(10)
memory usage: 5.0+ MB

In [76]:
# Eliminamos las 3 primeras filas ya que tiene informacion que nos resulta inutil, luego reiniciamos el indice 

df2 = df.drop([0,1,2], axis=0)
df2.reset_index(inplace=True)

In [77]:
# Eliminamos la columna index

del df2['index']

In [78]:
df2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Comprobante: Liquidación,B 0003- 00176324,Fecha Comprobante: 01/01/2023,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
1,6262,1,Coca Cola Lata 310 cc,NaN,180,21,180,NaN,NaN,NaN
2,100,2,Alfajor Fantoche Triple Blanco,NaN,150,21,300,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Total:,480,NaN,NaN,NaN,NaN
4,Comprobante: Liquidación,B 0003- 00176325,Fecha Comprobante: 01/01/2023,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
...,...,...,...,...,...,...,...,...,...,...
65527,9541074,1,coca cola zero 1L,NaN,500,21,500,NaN,NaN,NaN
65528,7895022,1,Leche descremada Tregar,NaN,440,21,440,NaN,NaN,NaN
65529,NaN,NaN,NaN,NaN,Total:,1150,NaN,NaN,NaN,NaN
65530,Comprobante: Liquidación,B 0003- 00194214,Fecha Comprobante: 14/05/2023,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
65531,3647,1,lucky clic cool 12,NaN,400,21,400,NaN,NaN,NaN

In [79]:
# Comprobamos lo que va a ser nuestra referencia para trabajar y limpiar el DF, ya que es el punto de partida de cada nuevo registro

df2.iloc[0]['Unnamed: 0']

'Comprobante: Liquidación'

In [80]:
# Movemos los valores a la columna que pertencen, ya que estan desordenados

for i in range(0,len(df2)):
    if df2.iloc[i]['Unnamed: 0'] != 'Comprobante: Liquidación':
        df2.iloc[i]['Unnamed: 9'] = df2.iloc[i]['Unnamed: 6']
        df2.iloc[i]['Unnamed: 8'] = df2.iloc[i]['Unnamed: 5']
        df2.iloc[i]['Unnamed: 7'] = df2.iloc[i]['Unnamed: 4']

    else:
        continue

In [81]:
# Movemos los valores a la columna que pertencen, ya que estan desordenados
 
for i in range(0,len(df2)):
        if df2.iloc[i]['Unnamed: 0'] != 'Comprobante: Liquidación':
                df2.iloc[i]['Unnamed: 6'] = df2.iloc[i]['Unnamed: 2']
                df2.iloc[i]['Unnamed: 5'] = df2.iloc[i]['Unnamed: 1']
                df2.iloc[i]['Unnamed: 4'] = df2.iloc[i]['Unnamed: 0']

In [82]:
# Creamos una variable con los nombres de las columnas que queremos, luego asignamos dicha variable a las columnas del DF

names_columns = ['comprobante', 'n_comprobante', 'fecha', 'cliente', 'codigo', 'cantidad', 'descripcion', 'p_unitario', 'iva', 'precio_final']
df2.columns = names_columns

In [83]:
# A la columna que tiene las fechas, le quitamos las palabras que estan antes de las fechas (Fecha Comprobante:)

for i in range(0,len(df2)):
        if df2.iloc[i]['comprobante'] == 'Comprobante: Liquidación':
                df2.iloc[i]['fecha'] = df2.iloc[i]['fecha'].strip('Fecha Comprobante: ')

In [84]:
# Rellenamos con None las filas siguientes en la columna fecha y n_comprobante 

for i in range(0,len(df2)):
        if df2.iloc[i]['comprobante'] != 'Comprobante: Liquidación':
            df2.iloc[i]['fecha'] = None
            df2.iloc[i]['n_comprobante'] = None

In [85]:
# Rellenamos ahora los registros NA con el valor anterior en fecha y cliente

df2.fecha.fillna(method='ffill', inplace=True)
df2.cliente.fillna(method='ffill', inplace=True)

In [86]:
# Rellenamos ahora los registros NA con el valor anterior en comprobante y numero de comprobante

df2.comprobante.fillna(method='ffill', inplace=True)
df2.n_comprobante.fillna(method='ffill', inplace=True)

In [87]:
# Comprobamos si la fecha se ha cambiado a formato datetime

df2.fecha.dtype

dtype('O')

In [88]:
# Eliminamos la columna comprobante

df2.drop('comprobante', axis = 1, inplace = True)

In [89]:
# Eliminamos los na
# 
df2.dropna(axis = 0, inplace = True)

In [90]:
# Eliminamos las primeras filas de cada comprobante, ya que repite informacion de los nombres de las columnas

df2 = df2[df2['cantidad'] != 'Cantidad']

In [91]:
# Ordenamos el dataframe por numero de comprobante
 
df2.sort_values(by= 'n_comprobante', inplace=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_4848\65993047.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.sort_values(by= 'n_comprobante', inplace=True)

In [92]:
# Convertimos los tipos de datos

df2['fecha'] =  pd.to_datetime(df2['fecha']).dt.strftime('%d/%m/%Y')
df2['cliente']=df2['cliente'].astype('category')
df2['codigo']=df2['codigo'].astype('int')
df2['cantidad']=df2['cantidad'].astype('int')
df2['p_unitario']=df2['p_unitario'].astype('float')
df2['iva']=df2['iva'].astype('float')
df2['precio_final']=df2['precio_final'].astype('float')

C:\Users\nicol\AppData\Local\Temp\ipykernel_4848\3818958182.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df2['fecha'] =  pd.to_datetime(df2['fecha']).dt.strftime('%d/%m/%Y')
C:\Users\nicol\AppData\Local\Temp\ipykernel_4848\3818958182.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['fecha'] =  pd.to_datetime(df2['fecha']).dt.strftime('%d/%m/%Y')
C:\Users\nicol\AppData\Local\Temp\ipykernel_4848\3818958182.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cliente']=df2['cliente'].astype('category')
C:\Users\nicol\AppData\Local\Temp\ipykernel_4848\3818958182.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['codigo']=df2['codigo'].astype('int')
C:\Users\nicol\AppData\Local\Temp\ipykernel_4848\3818958182.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cantidad']=df2['cantidad'].astype('int')
C:\Users\nicol\AppData\Local\Temp\ipykernel_4848\3818958182.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['p_unitario']=df2['p_unitario'].astype('float')
C:\Users\nicol\AppData\Local\Temp\ipykernel_4848\3818958182.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['iva']=df2['iva'].astype('float')
C:\Users\nicol\AppData\Local\Temp\ipykernel_4848\3818958182.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precio_final']=df2['precio_final'].astype('float')

In [93]:
df2.dtypes

n_comprobante      object
fecha              object
cliente          category
codigo              int32
cantidad            int32
descripcion        object
p_unitario        float64
iva               float64
precio_final      float64
dtype: object

In [95]:
df2

,n_comprobante,fecha,cliente,codigo,cantidad,descripcion,p_unitario,iva,precio_final
0,B 0003- 00176324,01/01/2023,Cliente: Consumidor Final (1),6262,1,Coca Cola Lata 310 cc,180.0,21.0,180.0
1,B 0003- 00176324,01/01/2023,Cliente: Consumidor Final (1),100,2,Alfajor Fantoche Triple Blanco,150.0,21.0,300.0
2,B 0003- 00176325,01/01/2023,Cliente: Consumidor Final (1),7894680,1,Doritos queso 45g,280.0,21.0,280.0
3,B 0003- 00176325,01/01/2023,Cliente: Consumidor Final (1),907,1,Sprite 1500cc,470.0,21.0,470.0
4,B 0003- 00176326,01/01/2023,Cliente: Consumidor Final (1),6848,1,Tabaco Las Hojas Clasico 50g,340.0,21.0,340.0
...,...,...,...,...,...,...,...,...,...
29719,B 0003- 00194212,14/05/2023,Cliente: Consumidor Final (1),7893764,1,Fanta lata 310,210.0,21.0,210.0
29720,B 0003- 00194213,14/05/2023,Cliente: Billetera (23),9541074,1,coca cola zero 1L,500.0,21.0,500.0
29721,B 0003- 00194213,14/05/2023,Cliente: Billetera (23),7895022,1,Leche descremada Tregar,440.0,21.0,440.0
29722,B 0003- 00194213,14/05/2023,Cliente: Billetera (23),6155,3,Barrita kinder 12.5 g,70.0,21.0,210.0
29723,B 0003- 00194214,14/05/2023,Cliente: Consumidor Final (1),3647,1,lucky clic cool 12,400.0,21.0,400.0

In [96]:
df2 = df2.reset_index()
df2.drop('index', axis=1, inplace = True)
df2

,n_comprobante,fecha,cliente,codigo,cantidad,descripcion,p_unitario,iva,precio_final
0,B 0003- 00176324,01/01/2023,Cliente: Consumidor Final (1),6262,1,Coca Cola Lata 310 cc,180.0,21.0,180.0
1,B 0003- 00176324,01/01/2023,Cliente: Consumidor Final (1),100,2,Alfajor Fantoche Triple Blanco,150.0,21.0,300.0
2,B 0003- 00176325,01/01/2023,Cliente: Consumidor Final (1),7894680,1,Doritos queso 45g,280.0,21.0,280.0
3,B 0003- 00176325,01/01/2023,Cliente: Consumidor Final (1),907,1,Sprite 1500cc,470.0,21.0,470.0
4,B 0003- 00176326,01/01/2023,Cliente: Consumidor Final (1),6848,1,Tabaco Las Hojas Clasico 50g,340.0,21.0,340.0
...,...,...,...,...,...,...,...,...,...
29719,B 0003- 00194212,14/05/2023,Cliente: Consumidor Final (1),7893764,1,Fanta lata 310,210.0,21.0,210.0
29720,B 0003- 00194213,14/05/2023,Cliente: Billetera (23),9541074,1,coca cola zero 1L,500.0,21.0,500.0
29721,B 0003- 00194213,14/05/2023,Cliente: Billetera (23),7895022,1,Leche descremada Tregar,440.0,21.0,440.0
29722,B 0003- 00194213,14/05/2023,Cliente: Billetera (23),6155,3,Barrita kinder 12.5 g,70.0,21.0,210.0
29723,B 0003- 00194214,14/05/2023,Cliente: Consumidor Final (1),3647,1,lucky clic cool 12,400.0,21.0,400.0

In [ ]:
# Creamos una variable con el nuevo nombre para guardar el DF transformado

nombre_nuevo = nombre_archivo.strip('.XLS')
nombre_transformado = f'{nombre_nuevo}_transformado'

In [ ]:
# Guardamos el archivo como csv y excel, con el mismo nombre original mas la palabra transformado

df2.to_csv(f'{nombre_transformado}.csv')
df2.to_excel(f'{nombre_transformado}.xlsx')