In [73]:
import pandas as pd
import numpy as np
import openpyxl
import os

In [74]:
horas_cif = pd.read_excel('..\data\hora2023.XLS')

In [75]:
# Creamos la variable con el nombre del archivo

nombre_archivo = 'hora2023.XLS'

In [76]:
# Creamos la variable que contenga la ruta del archivo

ruta_archivo = f'../data/{nombre_archivo}'

In [77]:
# Leemos el archivo con pandas y lo guardamos en una variable llamada file_excel que creamos, y sacamos las keys para ver las hojas que contiene el libro de excel
# 
file_excel = pd.read_excel(ruta_archivo, na_values= 'NN', sheet_name=None, skiprows=3, header = None)
file_excel.keys()

dict_keys(['Sheet1'])

In [78]:
# Creamos la variable DF, donde concatenamos todaas las hojas del archivo de excel

df0 = pd.concat(file_excel, ignore_index= True)
df0

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,2023-01-03 00:00:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,...,4.0,5.0,10.0,8.0,4.0,9.0,18.0,6.0,0.0,113.0
1,2023-01-04 00:00:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,6.0,4.0,8.0,9.0,6.0,10.0,11.0,5.0,0.0,125.0
2,2023-01-05 00:00:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,6.0,3.0,10.0,16.0,5.0,17.0,19.0,3.0,2.0,138.0
3,2023-01-06 00:00:00,8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,12.0,10.0,16.0,9.0,18.0,17.0,18.0,10.0,8.0,192.0
4,2023-01-07 00:00:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,5.0,4.0,7.0,12.0,7.0,17.0,21.0,10.0,6.0,153.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,2023-06-28 00:00:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,12.0,14.0,15.0,13.0,8.0,6.0,16.0,7.0,0.0,149.0
177,2023-06-29 00:00:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,7.0,11.0,7.0,18.0,9.0,6.0,8.0,5.0,0.0,127.0
178,2023-06-30 00:00:00,9,4.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,6.0,9.0,18.0,18.0,14.0,14.0,17.0,9.0,1.0,161.0
179,Totales,173,57.0,19.0,0.0,0.0,6.0,0.0,0.0,645.0,...,1199.0,1352.0,2012.0,2087.0,2035.0,2432.0,2352.0,1551.0,490.0,24268.0
180,Fecha Impresión: 09/07/2023 19:46:29,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Creamos una variable nueva llamada DF2 donde guardamos sobre una copia de DF, a su vez redondeamos a dos digitos los decimales:

df = df0.copy()
df = df.round(2)
df

In [79]:
# Creamos la variable nuevo_nombres con los nombres de las columnas

nuevo_nombres = ['fecha', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', 'total']

In [80]:
# Cambiamos los nombres de las columnas

df.columns = nuevo_nombres

In [81]:
# Eliminamos los ultimos dos registros

df.drop([179,180], inplace=True)

In [82]:
# Definimos la variable fecha de tipo datetime

df['fecha'] = pd.to_datetime(df['fecha'])

In [95]:
# Podriamos hacer un analisis por dia si definimos a la variable fecha como indice

# df.resample('D').sum()

In [85]:
# Creamos un DF agrupado por dia de la semana para analizar

df_por_dias = df.groupby(df['fecha'].dt.weekday).sum()

C:\Users\nicol\AppData\Local\Temp\ipykernel_2248\948611897.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_por_dias = df.groupby(df['fecha'].dt.weekday).sum()

In [86]:
# Imprimimos el df por dias

df_por_dias

,01,02,03,04,05,06,07,08,09,10,...,15,16,17,18,19,20,21,22,23,total
fecha,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0,160.0,160.0,...,186.0,235.0,299.0,270.0,279.0,316.0,221.0,142.0,13.0,3331.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0,165.0,163.0,...,209.0,220.0,280.0,273.0,301.0,309.0,299.0,192.0,15.0,3528.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,130.0,183.0,183.0,...,213.0,205.0,314.0,296.0,244.0,353.0,304.0,170.0,9.0,3645.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,142.0,173.0,184.0,...,212.0,218.0,295.0,362.0,293.0,370.0,317.0,212.0,24.0,3784.0
4,44.0,12.0,0.0,0.0,6.0,0.0,0.0,116.0,159.0,173.0,...,201.0,247.0,359.0,408.0,329.0,403.0,476.0,298.0,204.0,4571.0
5,13.0,7.0,0.0,0.0,0.0,0.0,0.0,34.0,138.0,147.0,...,174.0,218.0,244.0,251.0,286.0,360.0,362.0,318.0,204.0,3655.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,217.0,216.0,288.0,303.0,347.0,209.0,20.0,1604.0

In [87]:
# Creamos un df para el mes de enero

enero = df.iloc[0:31]

In [88]:
# Agrupamos el df enero por dias de la semana para analizar

enero.groupby(enero['fecha'].dt.weekday).sum()

C:\Users\nicol\AppData\Local\Temp\ipykernel_2248\2329457559.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  enero.groupby(enero['fecha'].dt.weekday).sum()

,01,02,03,04,05,06,07,08,09,10,...,15,16,17,18,19,20,21,22,23,total
fecha,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,26.0,23.0,...,29.0,38.0,44.0,31.0,37.0,49.0,39.0,22.0,6.0,503.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,20.0,37.0,...,46.0,41.0,50.0,40.0,35.0,49.0,61.0,56.0,3.0,635.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,30.0,35.0,...,32.0,29.0,51.0,49.0,37.0,64.0,65.0,20.0,0.0,609.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,38.0,43.0,...,33.0,21.0,38.0,63.0,50.0,68.0,80.0,48.0,13.0,683.0
4,2.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,33.0,32.0,...,21.0,21.0,51.0,43.0,43.0,56.0,65.0,37.0,36.0,619.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,17.0,14.0,...,25.0,24.0,29.0,31.0,34.0,55.0,74.0,58.0,34.0,505.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,20.0,21.0,40.0,54.0,52.0,42.0,2.0,233.0

In [89]:
meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']

In [90]:
months = {'enero': 31, 'febrero':28, 'marzo': 31, 'abril': 30, 'mayo': 31, 'junio':30, 'julio': 31, 'agosto': 31, 'septiembre':30, 'octubre':31, 'noviembre':30, 'diciembre':31}

In [91]:
febrero = df.iloc[29:57]
# marzo = horas_cif.iloc[months[febrero]:56]

In [92]:
febrero

,fecha,00,01,02,03,04,05,06,07,08,...,15,16,17,18,19,20,21,22,23,total
29,2023-02-01,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,5.0,10.0,13.0,10.0,10.0,20.0,11.0,6.0,0.0,134.0
30,2023-02-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,3.0,0.0,8.0,12.0,16.0,17.0,15.0,17.0,9.0,156.0
31,2023-02-03,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,6.0,4.0,0.0,41.0,14.0,18.0,14.0,16.0,11.0,180.0
32,2023-02-04,10,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,18.0,9.0,11.0,12.0,11.0,10.0,10.0,2.0,143.0
33,2023-02-05,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,13.0,18.0,10.0,16.0,14.0,2.0,79.0
34,2023-02-06,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,5.0,6.0,12.0,13.0,10.0,18.0,9.0,11.0,0.0,143.0
35,2023-02-07,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,2.0,9.0,8.0,14.0,12.0,17.0,15.0,9.0,0.0,146.0
36,2023-02-08,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,6.0,10.0,9.0,14.0,9.0,18.0,15.0,7.0,0.0,142.0
37,2023-02-09,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,...,5.0,9.0,15.0,16.0,15.0,18.0,9.0,5.0,0.0,156.0
38,2023-02-10,1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,...,10.0,3.0,14.0,16.0,26.0,19.0,37.0,18.0,10.0,233.0
39,2023-02-11,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,9.0,8.0,10.0,6.0,7.0,10.0,20.0,13.0,14.0,149.0
40,2023-02-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.0,12.0,16.0,17.0,18.0,18.0,4.0,91.0
41,2023-02-13,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,5.0,11.0,13.0,8.0,11.0,17.0,7.0,9.0,0.0,137.0
42,2023-02-14,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,13.0,7.0,16.0,15.0,21.0,16.0,18.0,12.0,5.0,194.0
43,2023-02-15,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,1.0,5.0,11.0,9.0,11.0,14.0,9.0,18.0,0.0,130.0
44,2023-02-16,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,10.0,15.0,6.0,14.0,14.0,15.0,16.0,8.0,0.0,146.0
45,2023-02-17,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,...,10.0,5.0,9.0,17.0,15.0,15.0,13.0,19.0,2.0,152.0
46,2023-02-18,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,8.0,10.0,8.0,9.0,13.0,14.0,11.0,16.0,17.0,150.0
47,2023-02-19,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,6.0,14.0,13.0,28.0,10.0,1.0,82.0
48,2023-02-20,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,6.0,7.0,5.0,9.0,9.0,16.0,7.0,6.0,111.0
49,2023-02-21,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,4.0,5.0,5.0,10.0,11.0,15.0,0.0,0.0,84.0
50,2023-02-22,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,8.0,11.0,11.0,11.0,10.0,13.0,15.0,6.0,0.0,147.0
51,2023-02-23,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,9.0,8.0,9.0,10.0,12.0,12.0,16.0,8.0,0.0,130.0
52,2023-02-24,3,4.0,2.0,0.0,0.0,0.0,0.0,0.0,6.0,...,8.0,21.0,7.0,15.0,14.0,22.0,24.0,9.0,11.0,202.0
53,2023-02-25,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,10.0,4.0,10.0,6.0,10.0,14.0,15.0,14.0,4.0,134.0
54,2023-02-26,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,13.0,15.0,11.0,23.0,14.0,3.0,84.0
55,2023-02-27,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,6.0,5.0,8.0,13.0,14.0,19.0,14.0,5.0,0.0,134.0
56,2023-02-28,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,...,6.0,9.0,13.0,13.0,13.0,12.0,10.0,5.0,0.0,145.0

In [93]:
# Creamos una variable con el nuevo nombre para guardar el DF transformado

nombre_nuevo = nombre_archivo.strip('.XLS')
nombre_transformado = f'{nombre_nuevo}_transformado'

In [64]:
# Guardamos el archivo como csv y excel, con el mismo nombre original mas la palabra transformado

if not os.path.exists(f'../DF/{nombre_transformado}.csv'):
    df.to_csv(f'../DF/{nombre_transformado}.csv', sep=',')
    df.to_excel(f'../DF/{nombre_transformado}.xlsx')

else:
    nombre_manual = input('ingrese el nombre para guardar el archivo')
    df.to_csv(f'../DF/{nombre_manual}.csv', sep=',')
    df.to_excel(f'../DF/{nombre_manual}.xlsx')