In [4]:
import pandas as pd
import numpy as np
import openpyxl
import os

In [5]:
# Creamos la variable con el nombre del archivo

nombre_archivo = 'comprobantes2022.XLS'

In [6]:
# Creamos la variable que contenga la ruta del archivo

ruta_archivo = f'../data/{nombre_archivo}'

In [7]:
# Leemos el archivo con pandas y lo guardamos en una variable llamada file_excel que creamos, y sacamos las keys para ver las hojas que contiene el libro de excel
# 
file_excel = pd.read_excel(ruta_archivo, na_values= 'NN', sheet_name=None, skiprows=3, header = None)
file_excel.keys()

dict_keys(['Sheet1', 'Sheet2', 'Sheet3'])

In [36]:
# Creamos la variable DF, donde concatenamos todaas las hojas del archivo de excel

df0 = pd.concat(file_excel, ignore_index= True)
df0

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Comprobante: Liquidación,B 0003- 00129498,Fecha Comprobante: 01/01/2022,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
2,7894150,1,lata patagonia IPA 473 cc,NaN,175,21,175,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Total:,175,NaN,NaN,NaN,NaN
4,Comprobante: Liquidación,B 0003- 00129499,Fecha Comprobante: 01/01/2022,Cliente: QR Nico (21),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
...,...,...,...,...,...,...,...,...,...,...
179474,NaN,NaN,NaN,NaN,Total:,720,NaN,NaN,NaN,NaN
179475,Comprobante: Liquidación,B 0003- 00176323,Fecha Comprobante: 31/12/2022,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
179476,7791346,1,Coca cola Zero 2L retornable,NaN,440,21,440,NaN,NaN,NaN
179477,7894624,1,3D 92g,NaN,490,21,490,NaN,NaN,NaN
179478,NaN,NaN,NaN,NaN,Total:,930,NaN,NaN,NaN,NaN

In [37]:
# Creamos una variable nueva llamada DF2 donde guardamos sobre una copia de DF, a su vez redondeamos a dos digitos los decimales:

df = df0.copy()
df = df.round(2)
df

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Comprobante: Liquidación,B 0003- 00129498,Fecha Comprobante: 01/01/2022,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
2,7894150,1,lata patagonia IPA 473 cc,NaN,175,21,175,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Total:,175,NaN,NaN,NaN,NaN
4,Comprobante: Liquidación,B 0003- 00129499,Fecha Comprobante: 01/01/2022,Cliente: QR Nico (21),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
...,...,...,...,...,...,...,...,...,...,...
179474,NaN,NaN,NaN,NaN,Total:,720,NaN,NaN,NaN,NaN
179475,Comprobante: Liquidación,B 0003- 00176323,Fecha Comprobante: 31/12/2022,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
179476,7791346,1,Coca cola Zero 2L retornable,NaN,440,21,440,NaN,NaN,NaN
179477,7894624,1,3D 92g,NaN,490,21,490,NaN,NaN,NaN
179478,NaN,NaN,NaN,NaN,Total:,930,NaN,NaN,NaN,NaN

In [9]:
sheets = []
try:
    sheet1 = pd.read_excel(ruta_archivo, sheet_name='Sheet1', header=None)
    sheets.append('sheet1')
    sheet2 = pd.read_excel(ruta_archivo, sheet_name='Sheet2', header=None)
    sheets.append('sheet2')
    sheet3 = pd.read_excel(ruta_archivo, sheet_name='Sheet3')
    sheets.append('sheet3')
    sheet4 = pd.read_excel(ruta_archivo, sheet_name='Sheet4')
    sheets.append('sheet4')
    sheet5 = pd.read_excel(ruta_archivo, sheet_name='Sheet5')
    sheets.append('sheet5')
except:
    pass

In [10]:
len(file_excel.keys())

3

In [11]:
# Con la funcion info hacemos un primer analisis del DF
 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179479 entries, 0 to 179478
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       132745 non-null  object
 1   1       132745 non-null  object
 2   2       132745 non-null  object
 3   3       46779 non-null   object
 4   4       179449 non-null  object
 5   5       179478 non-null  object
 6   6       132707 non-null  object
 7   7       46770 non-null   object
 8   8       46741 non-null   object
 9   9       46741 non-null   object
dtypes: object(10)
memory usage: 13.7+ MB

In [12]:
# Eliminamos las 3 primeras filas ya que tiene informacion que nos resulta inutil, luego reiniciamos el indice 

df2 = df.drop([0], axis=0)
df2.reset_index(inplace=True)

In [13]:
# Eliminamos la columna index

del df2['index']

In [14]:
df2

,0,1,2,3,4,5,6,7,8,9
0,Comprobante: Liquidación,B 0003- 00129498,Fecha Comprobante: 01/01/2022,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
1,7894150,1,lata patagonia IPA 473 cc,NaN,175,21,175,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Total:,175,NaN,NaN,NaN,NaN
3,Comprobante: Liquidación,B 0003- 00129499,Fecha Comprobante: 01/01/2022,Cliente: QR Nico (21),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
4,899,1,Coca Cola 1500 cc,NaN,230,21,230,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
179473,NaN,NaN,NaN,NaN,Total:,720,NaN,NaN,NaN,NaN
179474,Comprobante: Liquidación,B 0003- 00176323,Fecha Comprobante: 31/12/2022,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
179475,7791346,1,Coca cola Zero 2L retornable,NaN,440,21,440,NaN,NaN,NaN
179476,7894624,1,3D 92g,NaN,490,21,490,NaN,NaN,NaN
179477,NaN,NaN,NaN,NaN,Total:,930,NaN,NaN,NaN,NaN

In [15]:
# Comprobamos lo que va a ser nuestra referencia para trabajar y limpiar el DF, ya que es el punto de partida de cada nuevo registro

df2.iloc[0][0]

'Comprobante: Liquidación'

In [16]:
# Movemos los valores a la columna que pertencen, ya que estan desordenados

for i in range(0,len(df2)):
    if df2.iloc[i][0] != 'Comprobante: Liquidación':
        df2.iloc[i][9] = df2.iloc[i][6]
        df2.iloc[i][8] = df2.iloc[i][5]
        df2.iloc[i][7] = df2.iloc[i][4]

    else:
        continue

In [17]:
df2

,0,1,2,3,4,5,6,7,8,9
0,Comprobante: Liquidación,B 0003- 00129498,Fecha Comprobante: 01/01/2022,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
1,7894150,1,lata patagonia IPA 473 cc,NaN,175,21,175,175,21,175
2,NaN,NaN,NaN,NaN,Total:,175,NaN,Total:,175,NaN
3,Comprobante: Liquidación,B 0003- 00129499,Fecha Comprobante: 01/01/2022,Cliente: QR Nico (21),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
4,899,1,Coca Cola 1500 cc,NaN,230,21,230,230,21,230
...,...,...,...,...,...,...,...,...,...,...
179473,NaN,NaN,NaN,NaN,Total:,720,NaN,Total:,720,NaN
179474,Comprobante: Liquidación,B 0003- 00176323,Fecha Comprobante: 31/12/2022,Cliente: Consumidor Final (1),Codigo,Cantidad,Descripción,P. Unitario,Tasa de IVA,P. Final
179475,7791346,1,Coca cola Zero 2L retornable,NaN,440,21,440,440,21,440
179476,7894624,1,3D 92g,NaN,490,21,490,490,21,490
179477,NaN,NaN,NaN,NaN,Total:,930,NaN,Total:,930,NaN

In [18]:
# Movemos los valores a la columna que pertencen, ya que estan desordenados
 
for i in range(0,len(df2)):
        if df2.iloc[i][0] != 'Comprobante: Liquidación':
                df2.iloc[i][6] = df2.iloc[i][2]
                df2.iloc[i][5] = df2.iloc[i][1]
                df2.iloc[i][4] = df2.iloc[i][0]

In [19]:
# Creamos una variable con los nombres de las columnas que queremos, luego asignamos dicha variable a las columnas del DF

names_columns = ['comprobante', 'n_comprobante', 'fecha', 'cliente', 'codigo', 'cantidad', 'descripcion', 'p_unitario', 'iva', 'precio_final']
df2.columns = names_columns

In [20]:
# A la columna que tiene las fechas, le quitamos las palabras que estan antes de las fechas (Fecha Comprobante:)

for i in range(0,len(df2)):
        if df2.iloc[i]['comprobante'] == 'Comprobante: Liquidación':
                df2.iloc[i]['fecha'] = df2.iloc[i]['fecha'].strip('Fecha Comprobante: ')

In [21]:
# Rellenamos con None las filas siguientes en la columna fecha y n_comprobante 

for i in range(0,len(df2)):
        if df2.iloc[i]['comprobante'] != 'Comprobante: Liquidación':
            df2.iloc[i]['fecha'] = None
            df2.iloc[i]['n_comprobante'] = None

In [22]:
# Rellenamos ahora los registros NA con el valor anterior en fecha y cliente

df2.fecha.fillna(method='ffill', inplace=True)
df2.cliente.fillna(method='ffill', inplace=True)

In [23]:
# Rellenamos ahora los registros NA con el valor anterior en comprobante y numero de comprobante

df2.comprobante.fillna(method='ffill', inplace=True)
df2.n_comprobante.fillna(method='ffill', inplace=True)

In [24]:
# Comprobamos si la fecha se ha cambiado a formato datetime

df2.fecha.dtype

dtype('O')

In [25]:
# Eliminamos la columna comprobante

df2.drop('comprobante', axis = 1, inplace = True)

In [26]:
# Eliminamos los na
# 
df2.dropna(axis = 0, inplace = True)

In [27]:
# Eliminamos las primeras filas de cada comprobante, ya que repite informacion de los nombres de las columnas

df2 = df2[df2['cantidad'] != 'Cantidad']

In [28]:
# Ordenamos el dataframe por numero de comprobante
 
df2.sort_values(by= 'n_comprobante', inplace=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_15408\65993047.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.sort_values(by= 'n_comprobante', inplace=True)

In [29]:
# Convertimos los tipos de datos

df2['fecha'] =  pd.to_datetime(df2['fecha']).dt.strftime('%d/%m/%Y')
df2['cliente']=df2['cliente'].astype('category')
df2['codigo']=df2['codigo'].astype('int')
df2['cantidad']=df2['cantidad'].astype('int')
df2['p_unitario']=df2['p_unitario'].astype('float')
df2['iva']=df2['iva'].astype('float')
df2['precio_final']=df2['precio_final'].astype('float')

C:\Users\nicol\AppData\Local\Temp\ipykernel_15408\3818958182.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df2['fecha'] =  pd.to_datetime(df2['fecha']).dt.strftime('%d/%m/%Y')
C:\Users\nicol\AppData\Local\Temp\ipykernel_15408\3818958182.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['fecha'] =  pd.to_datetime(df2['fecha']).dt.strftime('%d/%m/%Y')
C:\Users\nicol\AppData\Local\Temp\ipykernel_15408\3818958182.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cliente']=df2['cliente'].astype('category')
C:\Users\nicol\AppData\Local\Temp\ipykernel_15408\3818958182.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['codigo']=df2['codigo'].astype('int')
C:\Users\nicol\AppData\Local\Temp\ipykernel_15408\3818958182.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cantidad']=df2['cantidad'].astype('int')
C:\Users\nicol\AppData\Local\Temp\ipykernel_15408\3818958182.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['p_unitario']=df2['p_unitario'].astype('float')
C:\Users\nicol\AppData\Local\Temp\ipykernel_15408\3818958182.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['iva']=df2['iva'].astype('float')
C:\Users\nicol\AppData\Local\Temp\ipykernel_15408\3818958182.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precio_final']=df2['precio_final'].astype('float')

In [30]:
df2.dtypes

n_comprobante      object
fecha              object
cliente          category
codigo              int32
cantidad            int32
descripcion        object
p_unitario        float64
iva               float64
precio_final      float64
dtype: object

In [31]:
df2

,n_comprobante,fecha,cliente,codigo,cantidad,descripcion,p_unitario,iva,precio_final
1,B 0003- 00129498,01/01/2022,Cliente: Consumidor Final (1),7894150,1,lata patagonia IPA 473 cc,175.0,21.0,175.0
4,B 0003- 00129499,01/01/2022,Cliente: QR Nico (21),899,1,Coca Cola 1500 cc,230.0,21.0,230.0
5,B 0003- 00129499,01/01/2022,Cliente: QR Nico (21),6741,2,stella noire lata 269cm,90.0,21.0,180.0
6,B 0003- 00129499,01/01/2022,Cliente: QR Nico (21),65,1,PIZZA ESPECIAL/MUZZA/NAPO/CANTI/ROQUE,200.0,21.0,200.0
9,B 0003- 00129500,01/01/2022,Cliente: Consumidor Final (1),1516,1,Triple Grande Migamax,200.0,21.0,200.0
...,...,...,...,...,...,...,...,...,...
179468,B 0003- 00176321,31/12/2022,Cliente: Consumidor Final (1),128,1,CERVEZA SANTA FE LITRO,450.0,21.0,450.0
179471,B 0003- 00176322,31/12/2022,Cliente: Consumidor Final (1),9540859,1,aceitunas marvavic rodajas,250.0,21.0,250.0
179472,B 0003- 00176322,31/12/2022,Cliente: Consumidor Final (1),9540735,1,Lucky box convertible 20,470.0,21.0,470.0
179475,B 0003- 00176323,31/12/2022,Cliente: Consumidor Final (1),7791346,1,Coca cola Zero 2L retornable,440.0,21.0,440.0
179476,B 0003- 00176323,31/12/2022,Cliente: Consumidor Final (1),7894624,1,3D 92g,490.0,21.0,490.0

In [32]:
df2 = df2.reset_index()
df2.drop('index', axis=1, inplace = True)
df2

,n_comprobante,fecha,cliente,codigo,cantidad,descripcion,p_unitario,iva,precio_final
0,B 0003- 00129498,01/01/2022,Cliente: Consumidor Final (1),7894150,1,lata patagonia IPA 473 cc,175.0,21.0,175.0
1,B 0003- 00129499,01/01/2022,Cliente: QR Nico (21),899,1,Coca Cola 1500 cc,230.0,21.0,230.0
2,B 0003- 00129499,01/01/2022,Cliente: QR Nico (21),6741,2,stella noire lata 269cm,90.0,21.0,180.0
3,B 0003- 00129499,01/01/2022,Cliente: QR Nico (21),65,1,PIZZA ESPECIAL/MUZZA/NAPO/CANTI/ROQUE,200.0,21.0,200.0
4,B 0003- 00129500,01/01/2022,Cliente: Consumidor Final (1),1516,1,Triple Grande Migamax,200.0,21.0,200.0
...,...,...,...,...,...,...,...,...,...
85961,B 0003- 00176321,31/12/2022,Cliente: Consumidor Final (1),128,1,CERVEZA SANTA FE LITRO,450.0,21.0,450.0
85962,B 0003- 00176322,31/12/2022,Cliente: Consumidor Final (1),9540859,1,aceitunas marvavic rodajas,250.0,21.0,250.0
85963,B 0003- 00176322,31/12/2022,Cliente: Consumidor Final (1),9540735,1,Lucky box convertible 20,470.0,21.0,470.0
85964,B 0003- 00176323,31/12/2022,Cliente: Consumidor Final (1),7791346,1,Coca cola Zero 2L retornable,440.0,21.0,440.0
85965,B 0003- 00176323,31/12/2022,Cliente: Consumidor Final (1),7894624,1,3D 92g,490.0,21.0,490.0

In [33]:
# Creamos una variable con el nuevo nombre para guardar el DF transformado

nombre_nuevo = nombre_archivo.strip('.XLS')
nombre_transformado = f'{nombre_nuevo}_transformado'

In [35]:
# Guardamos el archivo como csv y excel, con el mismo nombre original mas la palabra transformado

if not os.path.exists(f'../DF/{nombre_transformado}.csv'):
    df2.to_csv(f'../DF/{nombre_transformado}.csv', sep=',')
    df2.to_excel(f'../DF/{nombre_transformado}.xlsx')

else:
    nombre_manual = input('ingrese el nombre para guardar el archivo')
    df2.to_csv(f'../DF/{nombre_manual}.csv', sep=',')
    df2.to_excel(f'../DF/{nombre_manual}.xlsx')